extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    div.top

      form.form-horizontal(method="post", id="loginForm")
        label Username
        input.span3(id="username", type="text", name="User", placeholder="Enter your username")
        label Password
        input.span3(id="password", type="password", name="Password")
        input.btn(type="submit", value="Log In")
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
            th indu
        tbody
          tr
            td Blah
            td Test
            td 1
          tr
            td Hello
            td World
            td 2
          tr
            td Hello
            td World
            td 2
          tr
            td Hello
            td World
            td 2
