extends layout

block content
  h1= title
  div.container
      img.img-circle("images/BJCTA_logo.png","Circle image")
      form.form-horizontal(method="post", id="loginForm", name="login", action="/login")
        label Username
        input.span6(id="username", type="text", name="user", placeholder="Enter your username")
        label Password
        input.span6(id="password", type="password", name="password", placeholder="Enter your password")
        br
        br
        input.btn(type="submit", value="Submit" align="centerline")
      a(href="/changepwd") I forgot my password
