extends layout

block content

    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="usrname")
        br
        input#inputUserPwd(type="password", placeholder="userpwd", name="pwd")
        br
        input#inputUserLoc(type="text", placeholder="userloc", name="loc")
        br
        button#btnSubmit(type="submit") submit
   // strong Large
    code
        | new Switchery(elem, {className:&quot;switchery switchery-large&quot;});
    br
    input.js-switch-large(type='checkbox', checked='')
    br
    br
    strong Default
    code
        | new Switchery(elem, {className:&quot;switchery&quot;});
    br
    input.js-switch(type='checkbox', checked='')
    br
    br
    strong Small
    code
        | new Switchery(elem, {className:&quot;switchery switchery-small&quot;});
    br
    input.js-switch-small(type='checkbox', checked='')
    br
    br